{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jogos de Robótica</title>
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
  <header>
    <h1>Jogos de Robótica para Crianças</h1>
    <nav>
      <ul>
        <li><a href="">Início</a></li>
        <li><a href="jogos/">Jogos</a></li>
        <li><a href="sobre/">Sobre</a></li>
        <li><button id="addGameBtn">Adicionar Jogo</button></li>
      </ul>
    </nav>
    <img src="{% static 'imagens/ilustracao-de-engrenagem-doodle-icone.png' %}" alt="Engrenagem" class="engrenagem-superior">
  </header>

  <section id="inicio">
    <h2>Bem-vindo ao Mundo da Robótica!</h2>
  </section>

  <section id="jogos">
    <h2>Escolha um Jogo</h2>
    <div class="game-grid">
      <!-- Jogo 1 -->
       {% for jogo in jogos %}
      <div class="game-card">
        <img src="{{ jogo.imagem.url }}" alt="{{ jogo.nome }}" class="game-image">
        <h3>{{ jogo.nome }}</h3>
        
        <br>
        <br>

        <a href="{{jogo.diretorio}}/index.html" class="button">Jogar</a>
      </div>
      {% endfor %}
      <!-- Jogo 2 -->
    </div>
  </section>

  <!-- Modal para Adicionar Jogo -->
  <div id="gameModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>Adicionar Jogo</h2>
      <form name="gameForm" method="post" enctype="multipart/form-data" id="addGameForm">
        {% csrf_token %}
        <label for="gameName">Nome do Jogo:</label>
        <input type="text" id="Name" name="Name" required><br><br>
        
        <label for="gameDescription">Descrição:</label>
        <textarea id="Description" name="Description" required></textarea><br><br>
        
        <label for="gameImage">Adicionar Imagem:</label>
        <input type="file" id="Image" name="Image" accept="image/*" required><br><br>
        
        <label for="gamePackage">Adicionar Pacote do Jogo:</label>
        <input type="file" id="Package" name="Package" required><br><br>

        <input type="submit" value="Adicionar Jogo">
      </form>
    </div>
  </div>

  <footer>
    <p>© 2024 Jogos de Robótica. Feito para crianças com diversão!</p>
  </footer>

  <script src="{% static 'js/script.js'%}">
      function playGame(diretorio) {
      // Garantir que o caminho tenha uma barra antes de 'index.html'
      window.location.href = diretorio + "/index.html";  // Construir a URL corretamente
    }
  </script>
</body>
</html>