{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Descrição dos Jogos</title>
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
  <script src="script.js"></script>
</head>
</head>
<body>
  <header>
    <h1>Jogos de Robótica para Crianças</h1>
    <nav>
      <ul>
        <li><a href="{% url 'index' %}">Início</a></li>
        <li><a href="">Jogos</a></li>
        <li><a href="../sobre/">Sobre</a></li>
      </ul>
    </nav>
  </header>

  <section id="jogos-descricao">
    <h2>Descrição dos Jogos</h2>
    <div class="games">
      {% for jogo in jogos %}
        <div class="game">
          <div class="title">{{ jogo.nome }}</div>
          
          <img class="cover" src="{{ jogo.imagem.url }}" alt="{{ jogo.nome }}">
          
          <div class="description">{{ jogo.descricao }}</div>
          
          <div class="files">
            <div class="file">
              <a href="{{ jogo.arquivo.url }}">Download</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>

  <footer>
    <p>© 2024 Jogos de Robótica. Feito para crianças com diversão!</p>
  </footer>
</body>
</html>
